{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}


{% block sidebar %}

<div class="container">
    <div id="book-table-link" class="container side-items">
        <h5>Book a table</h5>
    </div>
    <div id="cancel-booking-link" class="container side-items">
        <h5>Cancel booking</h5>
    </div>
</div>

<div class="container">
    <h3><i class="fa-solid fa-clock"></i> Working hours</h3>
    <p>14:00 - 23:00</p>
    <p>every day</p>
</div>

<div class="container">
    <h3><i class="fa-solid fa-location-dot"></i> Address</h3>
    <p>Bootstrap st. Tralee, Co.Kerry</p>
</div>

{% endblock sidebar %}


{% block content %}



<!-- Django messages -->
<div class="container">
  <div class="row">
    <div class="col-md-8 offset-md-2">
      {% for message in messages %}
      <div class="alert {{ message.tags }} alert-dismissible
        fade show" id="msg" role="alert">
        {{ message | safe }}
        <button type="button" class="btn-close"
          data-bs-dismiss="alert" aria-label="Close"></button>
      </div>
      {% endfor %}
    </div>
  </div>
</div>

<div id="booking-table">
    <h2>Book a Table</h2>
    <form method="post">
        {% csrf_token %}
        <div class="container">
            <!-- Здесь размещается форма для бронирования -->
            <div class="row">
                <div class="col">
                    {{ form.party_size|as_crispy_field }}
                </div>
                <div class="col">
                    {{ form.date|as_crispy_field }}
                </div>
                <div class="col time-input">
                    {{ form.time|as_crispy_field }}
                </div>
            </div>
            <div class="row">
                <div class="col">
                    {{ form.first_name|as_crispy_field }}
                </div>
                <div class="col">
                    {{ form.last_name|as_crispy_field }}
                </div>
            </div>
            <div class="row">
                <div class="col-4">
                    {{ form.phone_number|as_crispy_field }}
                </div>
                <div class="col-8">
                    {{ form.email|as_crispy_field }}
                </div>
            </div>
            <div class="row">
                <div class="col-9">
                    {{ form.comments|as_crispy_field }}
                </div>
                <div class="col-2" style="margin-top: 15rem;">
                    <button type="submit" class="btn btn-primary">Book</button>
                </div>
            </div>
        </div>
    </form>
</div>

{% endblock content %}


