{% extends "base.html" %}
{% load static %}




{% block sidebar%}

{% for new in all_news %}
<div class="row d-flex align-items-center text-center text-light side-items">
    <div class="col-3">
        {% if "placeholder" in new.image.url %}
        <img src="{% static 'images/default_news.jpg' %}" alt="placeholder image">
        {% else %}
        <img src="{{new.image.url}}" class="d-block w-100" alt="{{ new.title }}">
        {% endif %}
    </div>
    <div class="col-9">
        <p>{{new.title}}</p>
    </div>
</div>
{% endfor %}

{% endblock sidebar %}


{% block content %}
<div class="carousel slide" id="carouselNews" data-bs-ride="carousel">
    <div class="carousel-inner">
        {% for new in all_news %}
        <div class="carousel-item {% if forloop.first %}active {% endif %}">
            {% if "placeholder" in new.image.url %}
            <img src="{% static 'images/default_news.jpg' %}" alt="placeholder image">
            {% else %}
            <img src="{{new.image.url}}" class="d-block w-100" alt="{{ new.title }}">
            {% endif %}
            <div class="carousel-caption">
                <h5 class="news-title">{{ new.title }}</h5>
                <p class="news-text">{{ new.text }}</p>
            </div>
        </div>
        {% endfor %}
    </div>
</div>


{% endblock content %}