{% extends "base.html" %}
{% block content %}
    <h1 class="text-center">Our Menu</h1>
    {% for category in categories %}
        <h2 class="text-center">{{ category.name }}</h2>
        <div class="row">
            {% for food in category.food_set.all %}
                <div class="col-md-4 mb-4">
                    <div class="card h-100">
                        <div class="card-body d-flex flex-column">
                            <h5 class="card-title">
                                {{ food.title }}
                                {% if food.vegan %}
                                <i class="fa-solid fa-leaf text-success"></i>
                                {% endif %}
                            </h5>
                            <div class="spiciness-icons">
                            {% if food.spiciness %}
                                    {% for icon in food.spiciness_icons %}
                                    <i class="fa-solid fa-pepper-hot text-danger"></i>
                                    {% endfor %}
                            {% endif %}
                            </div>
                            <p class="card-text mt-auto">{{ food.description }}</p>
                            <p class="mt-auto text-end">€ {{ food.price }}</p>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    {% endfor %}
{% endblock %}
