p{
    font-family: Roboto, sans-serif;

}

.btn-signup {
    border: 2px solid brown;
}

.site-header {
    background-color: brown;
}

.brand {
    font-family: Lato, sans-serif;
}

.navbar-brand img {
    max-height: 70px;
}

.nav-item {
    font-size: 1.3rem;
}

.user_status {
    text-align: right;
    padding-right: 5px;
}

.content-area {
    padding-top: 15px;
}

.side-info {
    width: 90%;
    margin-top: 10px;
    padding-top: 10px;
    background-color: rgba(0,0,0,0.1);
    border: 1px solid grey;
    border-radius: 4px;
    text-align: center;
}

.side-items {
    border: 2px solid grey;
    background-color: #657381;
    margin: 4px 0;
    text-align: center;
    color: lightgray;
}

.side-items a{
    color: inherit;
    text-decoration: none;
}

.side-items:hover {
    background-color: brown;
    border: 2px solid tomato;
}

.carousel {
    max-width: 50%;
    margin: auto;
}

.carousel-item {
    height: 70vh;
}

.carousel-caption {
    width: 98%;
    left: 0;
    right: 0;
    padding: 5px;
    background-color: rgba(0,0,0,0.8);
    color: white;
    text-align: center;
    border-radius: 4px;
}

.sticky-bar {
    width: 22%;
    position: fixed;
}

.hidden {
    display: none;
}

.item-price {
    text-align: right;
}


#booking-table {
    width: 50%;
    margin: 0 auto 10px auto;
    background-color: rgba(0,0,0,0.6);
    border-radius: 4px;
    padding: 6px;
}

#booking-table button {
    margin-top: 5em;
}


@media screen and (max-width: 600px){
    .carousel {
        position: static;
        max-width: 100%;
        margin: auto;
    }

    .carousel-caption {
        width: 100%;
        position: static;
        padding: 5px;
        background-color: rgba(0,0,0,0.6);
    }



    #booking-table {
        width: 90%;
        margin: 0 auto 10px auto;
        background-color: rgba(0,0,0,0.6);
        border-radius: 4px;
        padding: 6px;
    }

}
